<div class="container">
    <div class="row">
        <div class="card text-center">
            <div class="card-header" style=" background: #96ce7a; color: white">
                Reportes
            </div>
            <div class="card-body" >
                <h5 class="card-title">Seleccione las fechas de interés para generar el reporte: </h5>
                <%= form_tag '/reportes' %>
                    <div class="form-group text-center" style="margin-bottom: 10px">
                        <div class="col-md-4">
                            <%= label_tag :desde, 'Desde: ' %>
                            <%= date_field_tag :fechaDesde, class: 'form-control', max: Date.yesterday, required: true %>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="col-md-4">
                            <%= label_tag :hasta, 'Hasta: ' %>
                            <%= date_field_tag :fechaHasta, class: 'form-control', max: Date.today, required: true %>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="actions" style="margin-bottom: 10px">
                        <%= submit_tag "Generar reportes", class: 'btn', style: "background: #96ce7a; color: white" %>
                    </div>
                    </div>
                <% end %>
            </div>
            <div class="card-footer" style="background: #96ce7a; color: white">
                VacunAssist
            </div>
        </div>
    </div>
</div>