  <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Reportes
</button>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style=" background: #96ce7a; color: white">
        <h5 class="modal-title" id="staticBackdropLabel">Seleccione las fechas de interés para generar el reporte: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_tag url: '/reportes' do |f| %>
          <div class="form-group text-center" style="margin-bottom: 10px">
              <div class="col-md-4">
                  <%= label_tag :desde, 'Desde: ' %>
                  <%= date_field_tag :fechaDesde, class: 'form-control', max: Date.yesterday, required: true %>
              </div>
          </div>
          <div class="form-group" style="margin-bottom: 10px">
              <div class="col-md-4">
                  <%= label_tag :hasta, 'Hasta: ' %>
                  <%= date_field_tag :fechaHasta, class: 'form-control', max: Date.today, required: true %>
              </div>
          </div>
          <div class="actions" style="margin-bottom: 10px">
              <%= submit_tag "Generar reportes", class: 'btn', style: "background: #96ce7a; color: white" %>
          </div>
      <%end%>
      </div>
  </div>
</div>