<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag 'users_show' %>
<html>
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="https://ih1.redbubble.net/image.353319183.8167/st,small,507x507-pad,600x600,f8f8f8.u3.jpg" alt="">
              </a>
              <h1><%= current_user.nombre.capitalize %> <%= current_user.apellido.capitalize %></h1>
              <p><%= current_user.email %></p>
          </div>

          <ul class= "nav nav-pills nav-stacked">
            <li><i class="fa fa-edit"></i><%= link_to "Editar perfil", edit_user_registration_path %> </li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="panel-body bio-graph-info">
              <h1>Información</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Nombre: </span> <%= current_user.nombre.capitalize %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Apellido: </span> <%= current_user.apellido.capitalize %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>DNI: </span> <%= current_user.dni %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Fecha de nacimiento: </span> <%= current_user.fecha_nacimiento.strftime('%d/%m/%Y') %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Teléfono: </span> <%= current_user.telefono %></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</html>

