<%= stylesheet_link_tag 'vacunas_index' %>
<div class="d-flex flex-column justify-content-center align-items-center" style= " padding-top: 20px;">
	<div class="card text-center mx-auto" style= "width: 90%; ">
		<div class="card-body">
			<h1 class="card-title">Historial de vacunas</h1>
			<table class="table table-bordered">

				<tr>
					<th> Enfermedad </th>
					<th> Laboratorio </th>
					<th> Lote </th>
					<th> Fecha de aplicación </th>
				</tr>
				<% @turnosApli = @turnos.where(estado: :completado).or(@turnos.where(estado: :previo)).order('fecha desc') %>
				<% @turnosApli.each() do |t| %>
					<tr>
						<td> <%= t.enfermedad.nombre %> </td>
						<td> <%= t.vacuna.laboratorio.nombre %> </td>
						<td> 
							<% if t.lote != nil %>
								<%= t.lote.upcase %> 
							<% else %>
								<p> No especificado </p>
							<% end %>
						</td>
						<td> <%= t.fecha.strftime('%d/%m/%Y') %> </td>
					</tr>
				<% end %>

				<% if @turnosApli.size == 0 %>
					<tr> <td colspan="3"> No tiene vacunas en su historial. </td> </tr>
				<% end %>

			</table>
		</div>
</div>