<div class="my-form">
  <%= image_tag "logo4.PNG", title: "Logo", class: "logo", width: "120", heigth: "120" %>
  <h1 style="margin-top: 10px">Iniciar sesión</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <div class="input-field" style="text-align: left">
        <%= f.label :dni %><br />
        <%= f.number_field :dni, class: 'form-control', autocomplete: "dni" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field" style="text-align: left">
        <%= f.label :contraseña %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field" style="margin-bottom: 10px">
        <%= f.check_box :remember_me, class: 'my-checkbox' %>
        <%= f.label :Recordarme, class: 'form-check-label', style:"font-size: 20px" %>
      </div>
    <% end %>

    <div class="actions" style="margin-bottom: 10px">
      <%= f.submit "Entrar", class: 'btn btn-primary btn-lg my-button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
