
 <div class="d-flex flex-column justify-content-center align-items-center" style= " padding-top: 20px;">		
	<div class="card text-center mx-auto" style= "width: 90%; ">
			<div class="card-body">
				<h1 class="card-title">Turnos para el día: <%= Date.today.strftime('%d/%m/%Y') %></h1>
				<table class="table table-bordered">
					<thead>
					<% if @turnos.size != 0 %>
						<tr>
							<th scope="col">Paciente</th>
							<th scope="col">Enfermedad</th>
							<th scope="col">Opciones</th>
						</tr>
					<% end %>
					</thead>
			<tbody>
			<% if @turnos.size == 0 %>
					<tr> <td colspan="3"> No hay turnos para el día. </td> </tr>
			<% else %>
				<% @turnos.each_with_index do |t,index| %>
						<tr>
							<td>
								<% paciente=t.user.nombre.capitalize+ " " +t.user.apellido.capitalize %>
								<a class="links" href="#" role="button" data-bs-toggle="modal" data-bs-target="#userModal<%=index.to_s%>">
									<%= paciente %>
								</a> 
								<!-- Modal -->
								<div class="modal fade" id="userModal<%=index.to_s%>" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="userModalLabel"> Datos del paciente </h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Nombre: <%= paciente %><br>
												Fecha de nacimiento: <%= t.user.fecha_nacimiento.strftime('%d/%m/%Y') %><br>
												Vacunas previas:<br>
												<table class="table table-bordered">
													<thead>
														<% if @turnosPrevios.size != 0 %>
															<tr>
																<th scope="col">Enfermedad</th>
																<th scope="col">Laboratorio</th>
																<th scope="col">Fecha de aplicación</th>
															</tr>
														<% end %>
													</thead>
													<tbody>
														<% if @turnosPrevios.size == 0 %>
															<tr> <td colspan="3"> No tiene vacunas previas. </td> </tr>
														<% else %>
															<% @turnosPrevios.each_with_index do |tp,index| %>
																<tr>
																	<td> <%= tp.enfermedad.nombre %> </td>
																	<td> <%= tp.vacuna.laboratorio.nombre %> </td>
																	<td> <%= tp.fecha.strftime('%d/%m/%Y') %> </td>
																</tr>
															<% end %>
														<% end %>
													</tbody>
												</table>
											</div>
											<div class="modal-footer">
											</div>
										</div>
									</div>
								</div>
							</td> 
							<td>  <%= t.enfermedad.nombre %> </td> 
							<td> 
							<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelarModal<%=index.to_s%>">
							Cancelar turno
							</button>

							<!-- Modal -->
							<div class="modal fade" id="cancelarModal<%=index.to_s%>" tabindex="-1" aria-labelledby="cancelarModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="cancelarModalLabel"> ¿Desea cancelar el turno? </h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											Esta acción solo debe realizarse en caso de que el paciente no haya podido asistir al mismo.
											<%= form_for(t.vacuna, url: edit_turno_path(id: t.id), html: { method: :get }) do |f| %>
											<%= f.hidden_field 'aplicado', value: "false"%>
										</div>		
										<div class="modal-footer">
											<%= f.submit "Cancelar turno", class: "btn btn-danger btn-sm"%>
											<% end %>
										</div>		
									</div>
								</div>
							</div>
			
						<button type="button" class="btn btn-success btn-sm" style="margin-left:1rem;"data-bs-toggle="modal" data-bs-target="#detalleModal<%=index.to_s%>">
							Vacuna aplicada
							</button>

							<!-- Modal -->
							<div class="modal fade" id="detalleModal<%=index.to_s%>" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="cancelarModalLabel"> Complete la información de la vacuna aplicada: </h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<h5>Laboratorio: </h5>
											<%= form_for(t.vacuna, url: edit_turno_path(id: t.id), html: { method: :get }) do |f| %>
											<%= f.hidden_field 'aplicado', value: "true"%>
											<%= f.collection_select(:laboratorio_id , Vacuna.where(enfermedad_id: t.enfermedad.id), :id, :nombre,  {class: "form-control" }) %>
											
										</div>
										<div class="modal-footer"> 
										<%= f.submit "Confirmar", class: "btn btn-outline-success btn-sm"%>
										<%end%>
										</div>
									</div>	
								</div>
							</div>
							</div>
							</div>
						</td>
						</tr>
				<% end %>	
			<% end %>
			</tbody>
		</table>
	</div>
</div>
